body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#chartdiv {
    width: 100%;
    height: 500px;
}

.navbar-item img {
    max-height: 5rem !important;
}


.mapbox {
    position: relative;
}

.mapbox .overlay {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.mapbox .overlay .btn {
    pointer-events: initial;
}
.asd{
    padding: 10px;
    height: 150px;
    width: 150px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
}


.table__wrapper {
    overflow-x: auto;
}

.table{
    margin-left: auto;
    margin-right: auto;
}
