extends layout

block content

  .container-fluid
    .mapbox
      #map.dvContainer(style='min-width:100%;height: 600px;')



  .container
    div(class="table__wrapper")
      table.table
        thead
          tr

            th Bike ID
            th Air Quality

            th PM10
            th PM2.5
        tfoot
          tr
            th Average
            th 0.0
            th 0.0
            th 0.0

        tbody
          tr
            th 1
            td 68
            td 36
            td +32



  script(src='javascripts/map.js')
