extends layout

block content

    .container-fluid(style="padding-top:70px;")
        .row
            .col-9
                .col-12
                  .mapbox
                      #map.dvContainer(style='min-width:100%;height: 600px;')

            .col-3(style="height: 600px;")
                table.table.bg-light
                    thead.bg-light
                        tr
                            th(scope='col') Bike ID
                            th(scope='col') Air Quality
                            th(scope='col') PM10
                            th(scope='col') PM2.5
                    tbody#tbody
                    tfoot#tfoot.bg-light
                        tr
                            th(scope='row') Average
                            th 0.0
                            th 0.0
                            th 0.0
        .row(style="text-align: center;")
          .col-12
            #legend(style="display: inline-flex; margin-top: 30px;")


    script(src='javascripts/map.js')

