doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(defer='' src='https://use.fontawesome.com/releases/v5.3.1/js/all.js')
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src='http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js')
    script(src='https://www.patrick-wied.at/static/heatmapjs/assets/js/heatmap.min.js')
    script(src='javascripts/leaflet-heatmap.js')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css')
    link(rel='stylesheet' href='http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css')
    meta(name='viewport' content='width=device-width, initial-scale=1')


  body
    nav.navbar(role='navigation' aria-label='main navigation')
      .navbar-brand
        a.navbar-item(href='/')
          img(src='/images/bulma-logo.png' alt='Mind Pollution' width='224')
        a.navbar-burger(role='button' aria-label='menu' aria-expanded='false')
          span(aria-hidden='true')
          span(aria-hidden='true')
          span(aria-hidden='true')
    block content
